celery==5.3.1
redis==4.5.1
fastapi-mail==1.5.0
pydantic==2.11.7
pydantic-settings==2.10.1
PyJWT
fastapi
uvicorn[standard]
Jinja2
python-multipart
passlib[bcrypt]
SQLAlchemy
python-dotenv
email-validator
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==4.0.1